:root{
    --cor-primaria: rgb(132, 75, 206);

    --cor-secundaria: rgb(209, 172, 7);

    --cor-texto: rgb(7, 95, 15);

    --padding-padrao: 12px;

    --margem-padrao: 10px;
}

h1{
    background-color: var(--cor-primaria);

    color: var(--cor-texto);

    padding: var(--padding-padrao);

    margin: var(--margem-padrao);
}

p{
    color: var(--cor-texto);

    margin: var(--margem-padrao);
}

footer{
    background-color: var(--cor-secundaria);

    color: var(--cor-texto);

    padding: var(--padding-padrao);

    margin: var(--margem-padrao);
}